@import url('https://fonts.googleapis.com/css?family=Roboto');

h1, h2, h3, h4, h5, h6
  {
	color: #222;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

// Basic Text Style
p {
	font-family: 'Roboto', sans-serif;
  margin: 0 0 20px 0;
  font-weight: 400;
  font-size: 14px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}
